@mixin button {
    height:50px;
        width:300px;
        border-radius:4px;
        box-shadow:0 2px 4px 0 rgba(0, 0, 0, .1);
        color:white;
        font-family:'Montserrat';
        font-size:22px;
        text-align:center;
}


.home {
    background-color:rgba(207, 207, 207, 0.06);
    display:grid;
    justify-content:center;
    justify-items:center;
    //align-items:center;
    grid-template-rows: [header-s] 218px [header-e card-s] 994px [card-e] 
}

.header {
    align-self:center;
    font-family:'montserrat';
    color:white;
    text-align:center;
    
    &__skew {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
        clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);

       top:0;
       left:0;
       z-index:-10;
        position:absolute;
        height:110vh;
        width:100vw;
        background-color:#444444;
    }
    &__border {
        -webkit-clip-path: polygon(0 0, 100% 0%, 100% 25%, 0 50%);
        clip-path: polygon(0 49%, 100% 24%, 100% 25%, 0 50%);

       top:0;
       left:0;
       z-index:-10;
        position:absolute;
        height:110vh;
        width:100vw;
        background-color:#00CB79;
    }
    
    h1 {
        font-size:36px;
        font-weight:500;
        line-height:44px;
    }
    p {
        color:rgba(255,255,255,0.6);
        font-size:15px;
        font-weight:300;
        line-height:19px;
        width:403px;
    }
}

.card {
    min-height: 736px;
    max-height: 994px;
    width:1240px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, .06);
    border-radius:7px;

    display:grid;
    grid-template-rows:1fr 50px;
    background-color:white;


    &__inputs {
        // background-color:skyblue;
        display:grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(4,1fr);
        
        justify-items:center;
        align-items:center;
        grid-row-gap:120px;
        margin-top:66px;
        margin-left:83px;
        margin-right:83px;
    }

    button {
        justify-self:center;
    }

    button:focus {
        outline: none;
    }

    &__generate {
        background-color:#00CB79;
        @include button
    }
    &__clear {
        background-color: #45B0E5;
        @include button
    }

}

.input {
    display:grid;
    //grid-template-rows:1fr 1fr 1fr;
    grid-template-columns: [number-s] 26px [number-e input-s] 1fr [input-e];
    font-family:'montserrat';
    text-align:center;
    grid-column-gap:8px;
    font-size:1.5em;

    input:focus {
        outline: none;
        border-bottom:1px solid rgb (0, 225, 247)
    }


    &__title {
        grid-column: input-s/input-e;
        border-top:1px solid #b3b3b3;
        color: #b3b3b3;
        font-size:12px;
        font-weight:300;
        text-align:center;

        padding:4px 0;
        border-bottom:1px solid #b3b3b3;
        margin-bottom:1px;
        transition:all .3s ease;

    }
    input {
        grid-column: input-s/input-e;

        border:none;
        font-size:15px;
        text-align:center;
        margin:4px 0;


        //width:190px;
        height:47px;
        grid-column-gap:6px;
    }
    &__number {
        grid-row:1.5/2;

        background-color:#00CB79;
        color:white;
        font-size:19px;
        text-align:center;
        line-height:24px;
        margin-top:4px;
        border-radius:50%;

        height:26px;
        width:26px;
        border-radius:50%;
    }
}